version: '2.3'
services:
  RENAME_ME:
    runtime: nvidia
    build:
      context: ./
    image: furuko/nb_basic 
    container_name: furuko_nb_basic
    ports:
      - "5438:8888"
    volumes:
      - ./:/notebooks
      - /mnt:/mnt

