version: '2.3'
services:
  elecpy:
    runtime: nvidia
    build:
      context: ./
    image: chenaoki/nb_basic 
    container_name: chenaoki_nb_basic
    ports:
      - "5438:8888"
    volumes:
      - ./:/notebooks
      - /mnt:/mnt

